.back{
    width: 50vw;
}
.adminUser{
    margin-top: 15vh;
    height: 65vh;
    width: 100%;
    margin-left: 25vw;
}

.adminUser  input{
    width: 35vw;
    border-radius: 20px;
}
.bouton{
    margin-left: 30%;
    width: 20%;
    display: flex;
}

.bouton button{
    margin: 2px
}