body{
    height: 100%;
}

.footer{
    margin-top: 1px;
    bottom:0;
    height: 14vh;
    width: 100%;
    color: white;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}