.banner{
    display: flex;
    align-items: center;
    color: white;
    background-color: black;
    width: 100%;
}
.m2lLogo{
    height: 95px;
}
.ProduitNav{
    display: flex;
    align-items: center;
}

.ProduitNav > a{
    text-decoration: none;
    color: rgb(154, 247, 250);
}

.elementNav{
    padding: 20px;
}

.btn-connexion{
    margin-left: 20rem;
}

.barreRecherche{
    width: 50rem !important;
    margin-left: 5rem;
}