.Inscription{
    height: 100vh;
}

.connexion{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 90%;
}

.nomPrenom{
    display: flex;
    font-size: 25px;
}

#name{
    width: 50rem;
}

#firstname{
    width: 50rem;
}