.panier{
    min-height: 100vh;
    margin-top: 10vh;
}
p{
    text-align: justify;
}

.produitPanier{
    width: 80vw;
    height: 25vh;
    border: 1px solid red ;
}

.nom{
    border: 1px solid navy;
    width: 20rem;
    height: 100%;   
}