.produit{
    justify-content: center;
}
.toutArticles{
    display: flex;
    margin-left: 20rem;
}
.titreProduit{
    display: block;
    height: 5rem;
    border-radius: 20px;
    padding-top: 1rem;
    margin: 50px;
    margin-left: 10rem;
}
.imgCaroussel{
    justify-content: center;
}
.carousel-inner{  /* Correspond au image qui défile */
    height: 25rem;
    width: 100rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
    border-radius: 20px;
}

.carousel-control-prev-icon{ /* Correspond a la flèche de gauche du carousel */
    margin-right: -5rem ;
}

.carousel-control-next-icon{ /* Correspond a la flèche de droite du carousel */
    margin-left: -5rem ;
}

.card-group{ /* ligne des 3 card */
    width: 100rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
}

.card-img-top{ /* images des 3 card des meilleurs ventes */ 
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    height: 20rem;
}